@media (min-width: 1280px) {
  .heading {
    width: 1280px;
    margin: auto;
  }

  .nav-bar {
    width: 100%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    flex-shrink: 0;
    margin: 0 0 40px 0;
  }

  .nav-links {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .menu-link {
    display: flex;
    padding: 20px 0;
    border-bottom: none;
  }

  .menu-link > h5 {
    font-weight: normal;
    letter-spacing: 5px;
  }

  .sub-heading {
    width: 50%;
    text-align: right;
    padding: 15px 150px 15px 15px;
  }

  .alt-sub-heading {
    width: 50%;
    text-align: left;
    padding: 15px 15px 15px 150px;
    margin-top: 15px;
  }

  .recent-post {
    width: 640px;
  }

  .recent-img {
    height: 400px;
  }

  .recent-img-2 {
    height: 200px;
  }

  .post-index {
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
  }

  .blog {
    width: 50%;
  }

  form {
    width: 50%;
  }

  .footing {
    width: 1280px;
  }

  .social-media {
    width: 50%;
    margin: auto;
  }

  .social-media-icon {
    width: 45px;
    height: 45px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

}
