*, *:before, *:after {
  box-sizing: border-box;
}

* {
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: .5;
  text-decoration: none;
  color: black;
}

header {
  border-bottom: 1px solid grey;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  height: 65px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  margin: 0;
  font-size: 32px !important;
}

.menu-bkgd {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  top: 0;
  left: -100%;
  z-index: 4;
}

.slide-menu {
  width: 45%;
  height: 100%;
  position: fixed;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 5;
  left: -45%;
  top: 0;
  margin: 65px 0 0 0;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
}

.menu-link {
  padding: 30px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  margin: 0;
}

.menu-link > h5 {
  margin: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
}

/*.search {
  color: grey;
  align-items: center;
}

.search-icon {
  font-size: 18px;
}

.search-box {
  border: none;
  border-bottom: 1px solid grey;
  width: 150px;
  height: 20px;
  font-size: 14px;
  padding: 10px;
}*/

input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
}

.slide {
  left: 0;
}

.heading {
  margin: 65px 10px 0 10px;
  flex-shrink: 0;
  padding: 40px 0;
}

.title {
  text-transform: uppercase;
  letter-spacing: 9px;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  margin: 15px 0;
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: 9px;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin: 15px 0;
}

main {
  flex: 1 0 auto;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sub-heading {
  background-color: #3D3E42;
  padding: 15px;
  color: ghostwhite;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  width: 80%;
}

.alt-sub-heading {
  align-self: flex-end;
  text-align: right;
}

.recent-post, .post-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.recent-img, .card-img, .blog-img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.recent-blurb, .card-blurb {
  padding: 10px;
}

.blog-title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 5px 0;
}

.recent-text {
  display: inline;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .5px;
  font-weight: 300;
}

.more-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.about {
  width: 100%;
  background-color: #ebebec;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 55px 0 0 0;
  padding-bottom: 50px;
}

.about > h2 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: normal;
  font-size: 18px;
  padding: 40px 0 0 0;
  margin: 15px 0;
}

.about > p {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .5px;
  font-weight: 300;
  padding: 0 15px;
  margin: 0;
  text-align: center;
}

.post-index {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.blog {
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
}

.blog-text {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .5px;
  font-weight: 300;
  margin: 0;
  padding: 15px 10px 0 10px;
}

/*.feature-imgs {
  width: 100%;
  height: 67%;
  margin: 15px 0 0 0;
}*/

.feature-img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.blog-img {
  height: 350px;
}

form {
  margin: 15px 10px 40px 10px;
}

.form-section {
  background-color: rgba(211, 211, 211, .4);
  padding: 20px 10px;
  width: 100%;
  margin: 0 0 10px 0;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.close-icon {
  margin-left: 10px;
  font-size: 32px !important;
  cursor: pointer;
}

.close-icon-paragraph {
  align-self: flex-start;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  font-weight: 300;
  width: 90%;
}

.input {
  border: 1px solid grey;
  padding: 10px !important;
}

.form-title {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  background-color: white;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 0;
  width: 90%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  font-weight: 300;
}

/*trix-editor {
  background-color: white;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 0;
}*/

.button-sm, .button-lg {
  padding: 10px;
  width: 50%;
  text-align: center;
  background-color: #3D3E42;
  margin-top: 10px;
  cursor: pointer;
  color: ghostwhite;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.button-lg {
  padding: 15px 10px;
  margin-top: 20px;
  width: 48%;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: normal;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


footer {
  width: 100%;
  background-color: #3D3E42;
  color: ghostwhite;
  padding: 10px;
  flex-shrink: 0;
  display: flex;
  font-size: 10px;
}

.footing {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.social-media {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
}

.social-media-icon {
  width: 30px;
  height: 30px;
}

.social-media-icon > img {
  width: 100%;
  height: 100%;
}

footer > h6 {
  font-weight: normal;
}

footer a {
  color: ghostwhite;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
}


@media (min-width: 600px) {
  .sub-heading {
    width: 60%;
    padding-left: 100px;
  }

  .alt-sub-heading {
    width: 60%;
    padding-right: 100px;
  }

  .recent-post {
    width: 65%;
    flex-direction: row;
    margin: 25px auto;
  }

  .recent-img {
    width: 45%;
    height: 300px;
  }

  .recent-img-2 {
    width: 100%;
    object-fit: cover;
    height: 150px;
  }

  .blog-title {
    margin: 10px 0 5px 0;
  }

  .recent-blurb {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .recent-text {
    margin: 0;
  }

  .about > p {
    width: 65%;
    margin: 0 auto;
  }

  .post-index {
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
  }

  .post-card {
    display: flex;
    flex-direction: column;
    width: 48%;
  }

  .blog {
    width: 77%;
    margin: 10px auto 40px auto;
  }

  .blog-images {
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .blog-img {
    width: 372.5px;
    height: 558.75px;
    object-fit: cover;
  }

  .square-img-2 {
    width: 372.5px;
    height: 372.5px;
    object-fit: cover;
  }

  .square-img-3 {
    width: 246.6px;
    height: 246.6px;
    object-fit: cover;
  }


  .blog-text {
    padding: 15px 0 0 0;
  }

  form {
    margin: 15px auto 40px auto;
    width: 75%;
  }

  .mobile {
    display: none;
  }

  .tablet {
    display: flex;
  }
}


@media (min-width: 1280px) {
  .heading {
    width: 1280px;
    margin: auto;
  }

  .nav-bar {
    width: 100%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    flex-shrink: 0;
    margin: 0 0 40px 0;
  }

  .nav-links {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .menu-link {
    display: flex;
    padding: 20px 0;
    border-bottom: none;
  }

  .menu-link > h5 {
    font-weight: normal;
    letter-spacing: 5px;
  }

  .sub-heading {
    width: 50%;
    text-align: right;
    padding: 15px 150px 15px 15px;
  }

  .alt-sub-heading {
    width: 50%;
    text-align: left;
    padding: 15px 15px 15px 150px;
    margin-top: 15px;
  }

  .recent-post {
    width: 640px;
  }

  .recent-img {
    height: 400px;
  }

  .recent-img-2 {
    height: 200px;
  }

  .post-index {
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
  }

  .blog {
    width: 750px;
  }

  form {
    width: 50%;
  }

  .footing {
    width: 1280px;
  }

  .social-media {
    width: 50%;
    margin: auto;
  }

  .social-media-icon {
    width: 45px;
    height: 45px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

}
